---
import Layout from '@/layouts/Layout.astro'
import { Image } from 'astro:assets'
import type { fort } from '@/types'

const res = await fetch('https://api.invisyarcticfox.uk/fortography')
const d:fort = await res.json()

import '@/styles/fortography.scss'
let delayCount = 0
---

<Layout title='fortography'>
  {
    d.map(({ char, slug, names}) => {
      const cdnUrl = 'https://cdn.invisyarcticfox.uk/fortography'

      return (
        <div class={`char ${char}`}>
          <div class='nm'>{slug}</div>
          {
            names.map((name) => {
              const animDelay = 100 + delayCount * 100
              const egrLd = delayCount < 12
              delayCount++
              
              return (
                <a
                  href={`${cdnUrl}/${char}/big/${name}.png`}
                  target='_blank' rel='noopener noreferrer'
                  style={{ animationDelay: `${animDelay}ms`}}
                >
                  <Image
                    src={`${cdnUrl}/${char}/small/${name}.png`} alt={name}
                    inferSize loading={ egrLd ? 'eager' : 'lazy' }
                  />
                </a>
              )
            })
          }
        </div>
      )
    })
  }
</Layout>