---
import Layout from '@/layouts/Layout.astro'
import Fort from '@/components/Fort.astro'
import '@/styles/comps/fort.scss'
---

<Layout>
  <div id="cont">
    <div class="char fennix">
      <Fort char='fennix' name='banana' egrLd={true} />
      <Fort char='fennix' name='blossom' egrLd={true} />
      <Fort char='fennix' name='card' egrLd={true} />
      <Fort char='fennix' name='claws' egrLd={true} />

      <Fort char='fennix' name='fist' egrLd={true} />
      <Fort char='fennix' name='fists' egrLd={true} />
      <Fort char='fennix' name='guitar1' egrLd={true} />
      <Fort char='fennix' name='guitar2' egrLd={true} />

      <Fort char='fennix' name='lightning' egrLd={true} />
      <Fort char='fennix' name='peace' egrLd={true} />
      <Fort char='fennix' name='smug' egrLd={true} />
      <Fort char='fennix' name='wings' egrLd={true} />
    </div>
    <div class="char lucienwest">
      <Fort char='lucienwest' name='arcade1' egrLd={true} />
      <Fort char='lucienwest' name='arcade2' egrLd={true} />
      <Fort char='lucienwest' name='bar' egrLd={true} />
      <Fort char='lucienwest' name='graveyard' egrLd={true} />

      <Fort char='lucienwest' name='grappler1' />
      <Fort char='lucienwest' name='grappler2' />
      <Fort char='lucienwest' name='grappler3' />
      <Fort char='lucienwest' name='grappler4' />

      <Fort char='lucienwest' name='ram1' />
      <Fort char='lucienwest' name='ram2' />
      <Fort char='lucienwest' name='ram3' />
      <Fort char='lucienwest' name='ram4' />
    </div>
    <div class="char wendell">
      <Fort char='wendell' name='brite' />
      <Fort char='wendell' name='fists' />
      <Fort char='wendell' name='looking' />
      <Fort char='wendell' name='nose' />
    </div>
  </div>
</Layout>