---
import Layout from '@/layouts/Layout.astro'
import { Image } from 'astro:assets'
import type { charInfo } from '@/types'
import '@/styles/fort.scss'

const res = await fetch('https://api.invisyarcticfox.uk/fortography')
const charData:charInfo = await res.json()

let linkIndex = 0
let imgIndex = 0
---

<Layout title='fortography'>
  {
    charData.map((info) => (
      <div class={`char ${info.char}`}>
        {
          info.names.map((name) => {
            const calculatedDelay = 100 + linkIndex * 100
            const egrLd = imgIndex < 12
            imgIndex++
            linkIndex++

            return (
              <a
                href={`https://cdn.invisyarcticfox.uk/fortography/${info.char}/big/${name}.png`}
                target='_blank'
                rel='noopener noreferrer'
                style={{
                  animationDelay: `${calculatedDelay}ms`,
                }}
              >
                <Image
                  src={`https://cdn.invisyarcticfox.uk/fortography/${info.char}/small/${name}.png`}
                  alt={name}
                  width={480}
                  height={270}
                  loading={egrLd ? 'eager' : 'lazy'}
                />
              </a>
            )
          })
        }
      </div>
    ))
  }
</Layout>