---
import Layout from '@/layouts/Layout.astro'
import { Image } from 'astro:assets'
import '@/styles/gear.scss'

import eosr50 from '@/assets/specs/cam/eos-r50.png'
import rf18 from '@/assets/specs/cam/18-45mm.png'
import rf55 from '@/assets/specs/cam/55-210mm.png'
import rf100 from '@/assets/specs/cam/100-400mm.png'
import vmii from '@/assets/specs/cam/vmii.png'
import ex440 from '@/assets/specs/cam/ex-440.png'

import ao4 from '@/assets/specs/pc/au-ao4.png'
import g502 from '@/assets/specs/pc/g502.png'
import ie200 from '@/assets/specs/pc/ie200.png'
import k55 from '@/assets/specs/pc/k55.png'
---

<Layout title={'gear and specs'} head={'Gear and Specs'}>
  
  <div id='lr'>
    <div class='column left'>
      <div class='title'>camera</div>
      <div class='info'>
        <div>model: <b>Canon EOS R50</b></div>
        <div>lenses:
          <b>18-45mm</b>, <b>55-210mm</b>, <b>100-400mm</b>
        </div>
        <div>mic: <b>RØDE VideoMicro II</b></div>
        <div>tripod: <b>Velbon EX-440</b></div>
      </div>
      <div class='sep' />
      <div class='gallery'>
        <Image src={eosr50} alt={'eosr50'} width={256} loading={'eager'} />
        <Image src={vmii} alt={'vmii'} width={256} loading={'eager'} />
        <Image src={ex440} alt={'ex440'} width={256} loading={'eager'} />
        <Image src={rf18} alt={'r5018'} width={256} loading={'eager'} />
        <Image src={rf55} alt={'r5055'} width={256} loading={'eager'} />
        <Image src={rf100} alt={'r5055'} width={256} loading={'eager'} />
      </div>
    </div>

    <div class='column right'>
      <div class='title'>computer</div>
      <div class='info'>
        <div>mobo: <b>MSI PRO-Z690-A WIFI</b></div>
        <div>cpu: <b>Intel Core i9-12900K</b></div>
        <div>gpu: <b>NVIDIA GeForce RTX 4070Ti</b></div>
        <div>ram: <b>Kingston FURY Beast DDR5</b></div>
        <div>ssd: <b>Intel SSDPEKNW</b>, <b>Crucial M.2 2280</b></div>
        <div>monitors: <b>MSI G27C4 E2</b>, <b>HP Z24I</b></div>
        <div>mouse: <b>Logitech G502 Hero</b></div>
        <div>keyboard: <b>Corsair K55 CORE</b></div>
        <div>mic: <b>MAONO AU-A04</b></div>
        <div>headphones: <b>Sennheiser IE-200</b></div>
      </div>
      <div class='sep' />
      <div class='gallery'>
        <Image src={g502} alt={'g502'} width={256} loading={'eager'} />
        <Image src={ao4} alt={'ao4'} width={256} loading={'eager'} />
        <Image src={ie200} alt={'ie200'} width={256} loading={'eager'} />
        <Image src={k55} alt={'ie200'} height={256} loading={'eager'} />
      </div>
    </div>
  </div>
</Layout>