---
import Layout from '@/layouts/Layout.astro'
import LinkList from '@/components/LinkList.astro'
import { Image } from 'astro:assets'
import { siAstro, siCloudflarepages, siLastdotfm } from 'simple-icons'
import type { Link } from '@types'
import pkg from 'package.json'

import { getCommitInfo } from '@/scripts/getCommitInfo'
const gh = await getCommitInfo()

import avt from '@/assets/avatar.png'
import '@/styles/index.scss'

const socials:Link = [
  { link: 'https://blog.invisyarcticfox.uk', txt: 'blog', ext: false },
  { link: 'https://twitter.com/invisyarcticfox', txt: 'twitter' },
  { link: 'https://bsky.app/profile/invisyarcticfox.uk', txt: 'bluesky' },
  { link: 'https://discord.com/users/470193291053498369', txt: 'discord' },
  { link: 'https://t.me/invisyarcticfox', txt: 'telegram' },
]
const links:Link = [
  { link: './about', txt: 'about' },
  { link: './sonaart', txt: 'sona art' },
  { link: './animations', txt: 'animations' },
  { link: './photography', txt: 'photography' },
  { link: './gear', txt: 'gear and sepcs' },
]
---

<Layout title={'index'} head={''}>
  <div id='pfp'>
    <Image src={avt} alt={'avt'} width={512} quality={'high'} loading={'eager'} title={'art by @eutumned'} />
    <div class='listening' style='display: none;'>
      <a href='#' target='_blank' rel='noopener noreferrer' set:html={siLastdotfm.svg} />
      <span>lastfm</span>
    </div>
  </div>

  <div class='txt'>
    <div class='fn'>Lucas.</div>
    <div class='un'><i>@invisyarcticfox</i></div>
    <div class='b'>"animator" - photographer - wannabe film crewmember</div>
  </div>

  <div class='links'>
    <LinkList links={socials} />
    <LinkList links={links} />
  </div>

  <footer>
    <span>
      <a href='https://astro.build' target='_blank' rel='noopener noreferrer' set:html={siAstro.svg} /> &
      <a href='https://pages.cloudflare.com' target='_blank' rel='noopener noreferrer' set:html={siCloudflarepages.svg} />
    </span>
    |
    <span class='commit'>
      <a class='noline' href={gh.url} target='_blank' rel='noopener noreferrer'>{gh.sha}</a>
      v{pkg.version}
    </span>
  </footer>

  <script src='../scripts/newBlog.ts' />
  <script src='../scripts/lanyard.ts' />
</Layout>