---
import Layout from '@/layouts/Layout.astro'
import { Image } from 'astro:assets'
import * as icn from 'simple-icons'
import type { social, ext } from '@/types'

import avt from '@/assets/avatar.png'
import popper from '@/assets/popper.svg'
import '@/styles/index.scss'

const socials:social = [
  { link: 'https://discord.com/users/470193291053498369', ...icn.siDiscord },
  { link: 'https://twitter.com/invisyarcticfox', ...icn.siTwitter },
  { link: 'https://bsky.app/profile/invisyarcticfox.uk', ...icn.siBluesky },
  { link: 'https://t.me/invisyarcticfox', ...icn.siTelegram },
  { link: 'https://instagram.com/lucas.mcq_ ', ...icn.siInstagram },
  { link: 'mailto:lucas@invisyarcticfox.uk', ...icn.siMaildotru, tt: 'email' },
  // i dont use mail.ru, just a nice icon
]
const extlinks:ext = [
  { link: 'https://blog.invisyarcticfox.uk', txt: 'blog', isExt: true },
  { link: './sonaart', txt: 'sona art' },
  { link: './animations', txt: 'animations' },
  { link: 'https://instagram.com/lucasm.photography', txt: 'photography', isExt: true },
  { link: './fortography', txt: 'fortography' },
]
---

<Layout title='index'>
  <div class='prof'>
    <div class='imgs'>
      <Image
        class={'pfp'}
        src={avt} alt={'avatar'}
        width={360} loading={'eager'}
        quality={'high'}
      />
      <Image
        class={'popper'} title={'its my birthday!!'}
        src={popper} alt={'popper'}
      />
    </div>
    <div class='nm'>Lucas.</div>
    <div class='user'>@invisyarcticfox</div>
  </div>
    
  <div class='socials'>
    {
      socials.map(({ link, tt, path, slug }) => {
        const title = tt?.toUpperCase() || slug.toUpperCase()
        
        return (
          <a href={link} target='_blank' rel='noopener noreferrer' aria-label={title}>
            <svg viewBox='0 0 24 24'>
              <path d={path} fill='currentColor' />
            </svg>
          </a>
        )
      })
    }
  </div>
  <div class='links'>
    {
      extlinks.map(({ link, txt, isExt }) => (
        <a href={link} target={isExt ? '_blank' : null} rel='noopener noreferrer'>{txt}</a>
      ))
    }
  </div>

  <script src='../scripts/mayFourth.ts' />
  <script src='../scripts/lanyard.ts' />
</Layout>