---
export const prerender = false

import Layout from '@/layouts/Layout.astro';
import { Image } from 'astro:assets';
import * as icn from 'simple-icons'
import type { sonaArt } from '@/types';
import '@/styles/sonaart.scss';

const res = await fetch('https://api.invisyarcticfox.uk/sonaart');
const d:sonaArt = await res.json();
const cdnurl = 'https://cdn.invisyarcticfox.uk/art'
---

<Layout>
  {
    d.map((art, i:number) => {
      const platName = art.platform
      const icnName = `si${platName.charAt(0).toUpperCase()}${platName.slice(1)}` as keyof typeof icn
      const icon = icn[icnName] as unknown as { hex: string; path: string; }
      return (
        <div class='art' style={{ animationDelay: `${100 + i * 100}ms`}}>
          <Image
            src={`${cdnurl}/mid/${art.file}`} alt={art.file}
            inferSize loading={ i < 8 ? 'eager' : 'lazy' }
            style={{
              backgroundImage: `url(${cdnurl}/small/${art.file})`
            }}
          />
          <div class='cap'>
            <div class='url'>
              <a
                href={art.artisturl}
                target='_blank' rel='noopener noreferrer'
                title={`${art.platform} - ${art.artist}`}
                >
                <svg viewBox='0 0 24 24'>
                  <path d={icon.path} fill="currentColor" />
                </svg>/{art.artist}
              </a>
            </div>
            <div class='date'>{art.date}</div>
          </div>
        </div>
      )
    })
  }
</Layout>
