---
import Layout from '@/layouts/Layout.astro'
import { Image } from 'astro:assets'
import type { ImageMetadata } from 'astro'
import sonaData from '@/assets/sonaart/data.json'
import '@/styles/sonaart.scss'

const allArt = import.meta.glob('/src/assets/sonaart/art/*.{png,jpg,jpeg}')
const arts = sonaData.map(art => {
  const path = `/src/assets/sonaart/art/${art.file}`
  const importer = allArt[path]
  return { ...art, img:importer }
})

const loadedArt = await Promise.all(
  arts.map(async art => {
    const imported = art.img ? await art.img() : null
    const src = (imported as { default:ImageMetadata }).default
    return { ...art, src }
  })
)
---

<Layout title={'sona art'} head={'Sona Art'}>
  <div class='artcont'>
    {
      loadedArt.map(({ artist, artisturl, src, file }, i) => (
        <div class={`art ${artist}`}>
          <Image
            src={src} alt={file} quality={'max'}
            loading={i < 8 ? 'eager' : 'lazy'}
          />
          <div class='artist'>
            <a href={artisturl} target='_blank' rel='noopener noreferrer'>@{artist}</a>
          </div>
        </div>
      ))
    }
  </div>
</Layout>