---
import icnData from '@/data/icons.json'
import type { Icons, Links } from '@/types'

interface Props {
  head: string;
  links: Links[]
}
const { head, links } = Astro.props
---

<div class='links'>
  <div class="head">{head}</div>
  {
    links.map(({ href, title, slug, path, hex, cstmIcn, isExt }) => {
      const icon = cstmIcn ? (icnData as Icons)[cstmIcn] : null;
      const icnPth = icon ? icon.path : path
      const icnHx = icon ? icon.hex : hex

      return (
        <a
          href={href} target={isExt ? '_blank' : undefined}
          rel='noopener noreferrer'
          style={{
            borderColor: `#${icnHx}`
          }}
        >
          <svg viewBox='0 0 24 24'>
            <path d={icnPth} fill={`#${icnHx}`} />
          </svg>
          <span>{title || cstmIcn || slug}</span>
        </a>
      )
    })
  }
</div>