---
import { Image } from 'astro:assets';

interface Props {
  name: string;
  char: string;
  egrLd?: boolean;
  delay?: number;
}
const { name, char, egrLd, delay = 0 } = Astro.props
---

<a
  href={`https://cdn.invisyarcticfox.uk/fortography/${char}/big/${name}.png`}
  target="_blank" rel="noopener noreferrer"
  style={{animationDelay: `${delay}ms`}}
  >
  <Image
    src={`https://cdn.invisyarcticfox.uk/fortography/${char}/small/${name}.png`} alt={name}
    inferSize loading={egrLd ? 'eager' : 'lazy'}
  />
</a>