---
import type { discordStatus } from '@/types'
import { siLastdotfm } from 'simple-icons'

const res = await fetch('https://api.lanyard.rest/v1/users/470193291053498369')
const { data:d }:discordStatus = await res.json()
const { discord_status, activities } = d
const lfmAct = activities.find(a => a.application_id === '1108588077900898414')
const lastfm = lfmAct ? { song: lfmAct.details, artist: lfmAct.name } : null

const statusColours = {
  online: '#23A55A',
  idle: '#F0B232',
  dnd: '#F23F43',
  offline: '#80848E'
}
const statusColour = statusColours[discord_status as keyof typeof statusColours] || statusColours.offline
---

{
  lastfm && (
    <div class='listening'>
      <a
        href={`https://last.fm/music/${encodeURIComponent(lastfm.artist)}/_/${encodeURIComponent(lastfm.song)}`}
        target='_blank' rel='noopener noreferrer' set:html={siLastdotfm.svg}
      />
      <span><b>{lastfm.song}</b> by <b>{lastfm.artist}</b></span>
    </div>
  )
}

<script define:vars={{ statusColour, discord:d }}>
  console.log(discord)

  const pfp = document.querySelector('#pfp img')
  pfp.style.borderColor = statusColour
  pfp.title = 'idle on discord :3'
</script>