---
import '@/styles/comps/footer.scss'
import IcnLink from '@/components/IcnLink.astro';
import { siAstro, siCloudflarepages } from 'simple-icons';

const icns = [
  { href: 'https://astro.build', ...siAstro },
  { href: 'https://pages.cloudflare.com', ...siCloudflarepages }
]

interface Props {
	title?: string;
}

const { title = Astro.url } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.png' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
		<link rel="stylesheet" href="/master.css">
		<link rel="canonical" href={Astro.url}>
		<meta name='title' content={Astro.url}>
		<meta name='description' content='a gay fox that likes military aviation :3'>
		<meta name='keywords' content='blender, animation, photography, sona art, furry, invisyarcticfox, invisy arcticfox'>
		<meta name='image' content='https://cdn.invisyarcticfox.uk/img/embedbanner.png'>
		<meta name='author' content='invisyarcticfox'>

		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<meta name='theme-color' content='#00aa00'>
		<meta name='robots' content='index, follow'>
		<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
		<meta name='language' content='English'>
		<meta name='revisit-after' content='30 days'>

		<meta property='og:type' content='website'>
		<meta property='og:title' content={Astro.url}>
		<meta property='og:description' content='a gay fox that likes military aviation :3'>
		<meta property='og:url' content={Astro.url}>
		<meta property='og:image' content='https://cdn.invisyarcticfox.uk/img/embedbanner.png'>

		<meta name='twitter:card' content='summary_large_image'>
		<meta name='twitter:site' content='@invisyarcticfox'>
		<meta name='twitter:creator' content='@invisyarcticfox'>
		<meta name='twitter:title' content={Astro.url}>
		<meta name='twitter:description' content='a gay fox that likes military aviation :3'>
		<meta name='twitter:image' content='https://cdn.invisyarcticfox.uk/img/embedbanner.png'>
	</head>
	<body>
		<slot />
		<footer>
			<span class="icons">
				{
					icns.map(({ href, path, slug, hex }) => (
						<IcnLink href={href} title={slug} icn={{ path, hex}} />
					))
				}
			</span>
			|
			<span class="txt"><b>invisyarcticfox <span class="year">0000</span></b></span>
			<script lang='js'>
			  document.querySelector('footer .txt .year').textContent = new Date().getFullYear()
			</script>
		</footer>
	</body>
</html>