---
interface Props { title: string, head: string }
const { title, head } = Astro.props
const PgTt = `ItAF - ${title}`
const isIndex = Astro.url.pathname === '/'
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/png' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>{isIndex ? 'ItAF' : PgTt}</title>
		<link rel='stylesheet' href='/master.css'>
		<link rel='canonical' href={Astro.url}>
		<link rel='sitemap' href='/sitemap-index.xml'>

		<meta name='title' content={PgTt}>
		<meta name='description' content='animator, photographer, wannabe film crewmember'>
		<meta name='keywords' content='invisyarcticfox, invisy arcticfox, invisy arctic fox'>
		<meta name='image' content='https://cdn.invisyarcticfox.uk/img/embedbanner.png'>
		<meta name='author' content='invisyarcticfox'>
		<meta name='theme-color' content='#00aa00'>
		<meta name='robots' content='index, follow'>
		<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
		<meta name='language' content='English'>
		<meta name='revisit-after' content='30 days'>

		<meta property='og:type' content='website'>
		<meta property='og:title' content={PgTt}>
		<meta property='og:description' content='animator, photographer, wannabe film crewmember'>
		<meta property='og:url' content={Astro.url}>
		<meta property='og:image' content='https://cdn.invisyarcticfox.uk/img/embedbanner.png'>

		<meta name='twitter:card' content='summary_large_image'>
		<meta name='twitter:site' content='@invisyarcticfox'>
		<meta name='twitter:creator' content='@invisyarcticfox'>
		<meta name='twitter:title' content={PgTt}>
		<meta name='twitter:description' content='animator, photographer, wannabe film crewmember'>
		<meta name='twitter:image' content='https://cdn.invisyarcticfox.uk/img/embedbanner.png'>
	</head>
	<body>
		<main>
			{ !isIndex && (
				<div class='head'>{head}</div>
				<div class='note'><slot name='note'/></div>
			)}
			<slot />
		</main>
	</body>
</html>

<style lang='scss'>
  .head {
    --w: 15%;
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
		&::after {
    	content: '';
    	display: block;
    	position: relative;
    	width: var(--w);
    	height: 2px;
    	background: var(--fg);
    	top: 0;
    	left: calc(50% - (var(--w) / 2));
  	}
  }
  .head ~ .note {
    font-size: 0.75em;
    text-align: center;
    opacity: 0.75;
    padding-bottom: 50px;
		&:empty { display: none; }
  }
</style>